---
import Layout from "@layouts/Layout.astro";
import Editor from "@components/Editor.astro";
import { createPath } from "@utils/astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const templates = await getCollection("templates");
  return templates.map((template) => ({
    params: { templateId: template.id },
  }));
}

const { templateId } = Astro.params;
---

<Layout>
  <nav>
    <a href={createPath("/templates")}>&larr; Back to Templates</a>
  </nav>
  <Editor templateId={templateId} />
</Layout>
