---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Text from "@components/Text.astro";
import TextLink from "@components/TextLink.astro";
import Link from "@components/Link.astro";
import Button from "@components/Button.astro";

const templates = await getCollection("templates");
---

<Layout>
  <main class="container">
    <TextLink href="/" class="back-link">Back to Home</TextLink>

    <Text variant="h1">Available Templates</Text>

    {
      templates.map((template) => (
        <Button
          variant="secondary"
          as={Link}
          href={`/templates/${template.id}`}
        >
          {template.data.title}
        </Button>
      ))
    }
  </main>
</Layout>

<style>
  .container {
    max-width: var(--size-content-3);
    margin-inline: auto;
    padding: var(--size-8) 0;
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
  }
</style>
