---
import Layout from "@layouts/Layout.astro";
import { createPath } from "@utils/astro";
---

<Layout>
  <h1>Home</h1>
  <p>Welcome to Serverless Notes.</p>
  <a href={createPath("/templates")}>View Templates</a>
</Layout>
